html {
  background-color: black;
  font-family: Verdana;
  color: white;
  text-align: center;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 42px;
  font-weight: 300;
}

.download {
  font-size: 16px;
}

p {
  font-size: 21px;
  color: gray;
}

a {
  color: Aquamarine;
}

.footer {
  text-align: right;
}
